.header{
    display: flex;
    align-items: center;
justify-content: space-between;
padding: 20px;
position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;

}

.header__logo{
    height: 35px;
    width: 80px;
    object-fit: contain;
    margin-top: 1px;
    
}
.icon1{
    width:30px;
     height:100px;
     margin-top: 2px;
     cursor: pointer;
}
.header__input{
    display: flex;
    align-items: center;
    width:50%;
    height: 60%;
    margin-left: 300px;
    border: 1px solid lightgray;
    border-radius: 20px;
}
.header__inputButton{
    width:50px;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    cursor: pointer;
    color:gray;
}
.mic{
    cursor: pointer;
}
.header__icon{
    margin-right: 8px;
    cursor: pointer;
}

.header__icons{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header__input > input{
    flex:1;
    border:none;

    
}
